.a-hero {
  min-width: auto;
  max-width: 1920px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  min-height: 600px;
  container-type: inline-size;
  background-color: #cadfde;

  h1 {
    color: #236151;
    font-weight: 500;
  }

  &__col {
    padding: 1rem 5rem;
    flex: 0 0 50%;
    max-width: 50%;

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;
    }

    &:nth-child(2) {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      @container (max-width: 1100px) {
        aspect-ratio: 16 / 9;
      }
    }

    &__buttons {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    @container (max-width: 1100px) {
      flex: 1 1 100%;
      max-width: 100%;
      padding: 3rem 1.5rem;
    }
  }

  input[type='search'] {
    border-radius: 100px;
    box-shadow: none;

    &:focus {
      outline: unset;
    }
  }

  .c-field__inner {
    border-radius: 100px;
  }

  form.c-form {
    div.c-field_focus-styler {
      border-radius: 100px;
    }
  }
}

a.c-button.c-button__filled--attention {
  background-color: #fad945;
  color: #000;
  border: none;
  outline: none;
  filter: unset;
}
a.c-button.c-button__outlined--attention {
  background-color: #fad945;
  color: #000;
  border: none;
  outline: none;
  filter: unset;

  &:hover::after,
  div.code-toolbar > .toolbar a:hover::after,
  div.code-toolbar > .toolbar button:hover::after,
  div.code-toolbar > .toolbar span:hover::after {
    background: var(--color-white, #ffffff);
    opacity: 0.2;
  }
}
