.modularity-mod-alingsashero {
  --hero-background: var(--theme-hero-general-background, #cadfde);
  --hero-color: var(--theme-hero-general-color, #236151);
  --hero-button-background: var(--theme-hero-button-background, var(--color--primary, #236151));
  --hero-button-color: var(--theme-hero-button-color, var(--color--primary-contrast, #fff));
  --hero-button-border: var(--theme-hero-button-background, var(--color--primary-border, var(--hero-button-background)));
  --hero-button-attention-background: var(--theme-hero-button-attention-background, var(--color--warning, #fad945));
  --hero-button-attention-color: var(--theme-hero-button-attention-color, var(--color--warning-contrast, #000));

  // Configure Styleguide v3 components within the hero without overriding
  // their internal filled and outlined implementations.
  --c-button--color--primary: var(--hero-button-background);
  --c-button--color--primary-contrast: var(--hero-button-color);
  --c-button--color--primary-border: var(--hero-button-border);
  --c-button--border-radius: 6;
  --c-field--color--primary: var(--hero-button-background);
  --c-field--border-radius: 6;

  background-color: var(--hero-background);
}

.a-hero {
  background-color: var(--hero-background);
  color: var(--hero-color);
  min-width: auto;
  max-width: 1920px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  min-height: 600px;
  container-type: inline-size;

  h1 {
    color: var(--hero-color);

    &.c-typography.c-typography__variant--h1 {
      font-size: 6.5vw;

      @media screen and (min-width: 768px) {
        font-size: 4.5vw;
      }

      @media screen and (min-width: 1116px) {
        font-size: 3.5vw;
      }

      @media screen and (min-width: 1920px) {
        font-size: 3.5rem;
      }
    }
  }

  &__rek-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    &[hidden] {
      display: none;
    }
  }

  &__col {
    padding: 1rem 5rem;
    flex: 0 0 50%;
    max-width: 50%;

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;
    }

    &:nth-child(2) {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      @container (max-width: 1100px) {
        aspect-ratio: 16 / 9;
      }
    }

    &__buttons {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    @container (max-width: 1100px) {
      flex: 1 1 100%;
      max-width: 100%;
      padding: 3rem 1.5rem;
    }
  }

  form.c-form {
    .c-group {
      background-color: var(--c-button--color--primary);
      border: calc(var(--c-button--border-width, var(--border-width, .25)) * var(--base, 8px)) solid var(--c-button--color--primary-border);
      border-radius: calc(var(--base, 8px)* 6);
      overflow: hidden;
    }

    .c-field {
      background-color: var(--c-button--color--primary);
      border-radius: calc(var(--c-field--border-radius, 6) * var(--base, 8px)) 0 0 calc(var(--c-field--border-radius, 6) * var(--base, 8px));

      &__inner {
        border: 0;
        height: 100%;

        input {
          height: 100%;
        }
      }

      .c-field_focus-styler {
        outline-color: var(--color--focus, var(--c-field--color--primary));
      }
    }

    .c-button.a-hero__search-form__submit-icon {
      background-color: var(--c-button--color--primary, var(--color--primary));
      border: calc(var(--c-button--border-width, .125) * var(--base, 8px)) solid var(--c-button--color--primary-border, var(--color--primary));
      color: var(--c-button--color--primary-contrast, var(--color--primary-contrast, #fff));
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      border-start-end-radius: calc(var(--c-button--border-radius, 6) * var(--base, 8px));
      border-end-end-radius: calc(var(--c-button--border-radius, 6) * var(--base, 8px));
      padding: 0 calc(var(--c-button--space, var(--space, 1)) * var(--base, 8px) * 3) 0 calc(var(--c-button--space, var(--space, 1)) * var(--base, 8px) * 2);

      .c-button__label {
        color: inherit;
      }
    }
  }

  a.c-button.c-button__filled--attention {
    background-color: var(--hero-button-attention-background);
    border: none;
    outline: none;
    filter: unset;

    &,
    .c-button__label {
      color: var(--hero-button-attention-color);
    }
  }

  a.c-button.c-button__outlined--attention {
    border: calc(var(--c-button--border-width, var(--border-width, .25)) * var(--base, 8px)) solid var(--hero-button-attention-background);
    outline: none;
    filter: unset;

    .c-button__label {
      color: var(--hero-button-attention-background);
    }

    &:hover::after,
    div.code-toolbar>.toolbar a:hover::after,
    div.code-toolbar>.toolbar button:hover::after,
    div.code-toolbar>.toolbar span:hover::after {
      background: var(--color--background, #fff);
      opacity: 0.2;
    }
  }

  @media screen and (max-width: 360px) {
    form.c-form {
      div.c-group {
        background-color: transparent;
        border: none;
        flex-direction: column;
        gap: .5rem;

        .c-field {
          background-color: transparent;
          border: calc(var(--c-button--border-width, var(--border-width, .25)) * var(--base, 8px)) solid var(--c-button--color--primary-border);
          border-radius: calc(var(--base, 8px)* 6);
          overflow: hidden;
        }

        .c-button,
        .c-button.a-hero__search-form__submit-icon {
          border-radius: calc(var(--c-button--border-radius, 6) * var(--base, 8px));
        }
      }
    }
  }

  @media screen and (min-width: 360px) and (max-width: 500px) {
    form.c-form {
      .c-group {
        background-color: var(--c-button--color--primary, var(--color--primary));
        flex-direction: row;
        gap: 0;

        .c-field {
          &.c-field--md input {
            padding: calc(var(--base, 8px)* 1.5);

            &::placeholder {
              font-size: 14px;
            }
          }
        }

        .c-button {
          padding: 0 calc(var(--base, 8px)*3) 0 calc(var(--base, 8px)*0.5);

          &__label {
            gap: var(--base, 4px);
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    &__col__buttons {
      gap: 1rem 0.5rem;

      .c-button {
        &.c-button--md {
          font-size: 14px;
          height: calc(var(--base, 6px)* 6);
          min-width: calc(var(--base, 6px)* 9);
          padding: 0 calc(var(--base, 4px)* 4);
        }
      }
    }
  }
}
